/*-----------------------------------------------------------------------------------------------------------------------------
    In this CSS file you will find the basic style that is throughout the whole site the same, for example text and buttons.
------------------------------------------------------------------------------------------------------------------------------*/

/* The fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');


:root {
    --primary: #D44C4C;
    --secondary: #EDEDED;
}

/* This removes the default generated style */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    min-height: 100%;
}

/* The CSS for the background gradient */
body { 
    background-color: #08262A; /* For browsers that do not support gradients */
    background-image: linear-gradient(#08262A, #000, #08262A);
    width: 100%;
}

main {
    padding-left: 15px;
    padding-right: 15px;
}

/*--------------------------------------------------
    Website loader
---------------------------------------------------*/
#doc-loader {
    background: #08262A;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

#loaderInner {
    background:url(../images/load.gif);
    background-position: center center; 
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
}

/*--------------------------------------------------
    Fonts
---------------------------------------------------*/
/* Font type formatting */
h1, h2, h3, h4, h5, h6{
    color: #FFF;
    font-family: 'Playfair Display', Georgia, Times, serif;
    font-weight: bold;
}

/* font-family: 'New Rocker', cursive; */

h1 {
    font-size: 53px;
    line-height: 84px;
}

h2 {
    font-size:45px;
    line-height: 63px;
}

h3 {
    font-size: 38px;
    line-height: 53px;
}

h4 {
    font-size: 32px;
    line-height: 42px;
}

h5 {
    font-size: 24px;
    line-height: 32px;
}

h6 {
    font-size: 18px;
    line-height: 22px;
}

p {
    color: #FFF;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.8px;
}


/*--------------------------------------------------
    Buttons
---------------------------------------------------*/
/* Here you can edit the primary button */
button.primary {
    background-color: #FFF;
    color: var(--primary);
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.8px;
    text-align: center;
    padding: 4px 10px;
    margin-top: 25px;
    border: 3px solid var(--primary);
    border-radius: 25px;
    cursor: pointer;
    height: 40px;
    width: 120px;
}

/* This causes the button to change when you hover over it */
button.primary:hover {
    background-color: var(--primary);
    color: #FFF;
}

/* Here you can edit the secondary button */
button.secondary {
    background-color: #FFF;
    color: #000;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.8px;
    text-align: center;
    padding: 4px 10px;
    margin-top: 25px;
    border: 3px solid var(--secondary);
    border-radius: 15px;
    cursor: pointer;
    height: 40px;
    width: 120px;
}

/* This causes the button to change when you hover over it */
button.secondary:hover {
    background-color: var(--secondary);
}

/* This causes the link to change when you hover over it */
a:hover {
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
}


/*--------------------------------------------------
    The breakpoints
---------------------------------------------------*/

/* Intermediate version of mobile and tablet (450px) */
@media (min-width: 450px) {
    main {
        padding-left: 20px;
        padding-right: 20px;
    }
    /*----------------------------------------*/
}

/* Tablet version (768px) */
@media (min-width: 768px) {
    main {
        padding-left: 35px;
        padding-right: 35px;
    }
    /*----------------------------------------*/

    h1 {
        font-size: 64px;
        line-height: 95px;
    }
    
    h2 {
        font-size: 51px;
        line-height: 69px;
    }
    
    h3 {
        font-size: 43px;
        line-height: 59px;
    }
    
    h4 {
        font-size: 35px;
        line-height: 46px;
    }
    
    h5 {
        font-size: 27px;
        line-height: 36px;
    }
    
    h6 {
        font-size: 20px;
        line-height: 24px;
    }
    
    p {
        font-size: 16px;
        line-height: 24px;
    }
    /*----------------------------------------*/

    button.primary, button.secondary {
        font-size: 22px;
        padding: 8px 20px;
        margin-top: 35px;
        height: 50px;
        width: 150px;
    }
}

/* Laptop version (1024px) */
@media (min-width: 1024px) {
    main {
        padding-left: 50px;
        padding-right: 50px;
    }
    /*----------------------------------------*/
}

/* Larger laptop version (1280px) */
@media (min-width: 1280PX) {
    main {
        padding-left: 100px;
        padding-right: 100px;
    }
    /*----------------------------------------*/

    h1 {
        font-size: 76px;
        line-height: 108px;
    }
    
    h2 {
        font-size: 57px;
        line-height: 76px;
    }
    
    h3 {
        font-size: 48px;
        line-height: 65px;
    }
    
    h4 {
        font-size: 38px;
        line-height: 50px;
    }
    
    h5 {
        font-size: 30px;
        line-height: 40px;
    }
    
    h6 {
        font-size: 21px;
        line-height: 26px;
    }
    
    p {
        font-size: 17px;
        line-height: 26px;
    }
}

/* Intermediate version of laptop and desktop (1680px) */
@media (min-width: 1680PX) {
    main {
        padding-left: 200px;
        padding-right: 200px;
    }
    /*----------------------------------------*/

    h1 {
        font-size: 88px;
        line-height: 121px;
    }
    
    h2 {
        font-size: 65px;
        line-height: 85px;
    }
    
    h3 {
        font-size: 53px;
        line-height: 71px;
    }
    
    h4 {
        font-size: 42px;
        line-height: 55px;
    }
    
    h5 {
        font-size: 32px;
        line-height: 43px;
    }
    
    h6 {
        font-size: 22px;
        line-height: 28px;
    }
    
    p {
        font-size: 18px;
        line-height: 28px;
    }
}

/* Desktop version (1920px) */
@media (min-width: 1920PX) {
    main {
        padding-left: 250px;
        padding-right: 250px;
    }
    /*----------------------------------------*/
}