/*-----------------------------------------------------------------------------------------------------------------------------
    In this CSS file you will find the basic style that is throughout the whole site the same, for example text and buttons.
------------------------------------------------------------------------------------------------------------------------------*/

/* The fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');


:root {
    --primary: #D44C4C;
    --secondary: #EDEDED;
}

/* This removes the default generated style */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    min-height: 100%;
}

/* The CSS for the background gradient */
body { 
    background-color: #08262A; /* For browsers that do not support gradients */
    background-image: linear-gradient(#08262A, #000, #08262A);
    width: 100%;
}

main {
    padding-left: 15px;
    padding-right: 15px;
}

/*--------------------------------------------------
    Website loader
---------------------------------------------------*/
#doc-loader {
    background: #08262A;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

#loaderInner {
    background:url(../images/load.gif);
    background-position: center center; 
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
}

/*--------------------------------------------------
    Fonts
---------------------------------------------------*/
/* Font type formatting */
h1, h2, h3, h4, h5, h6{
    color: #FFF;
    font-family: 'Playfair Display', Georgia, Times, serif;
    font-weight: bold;
}

/* font-family: 'New Rocker', cursive; */

h1 {
    font-size: 95px;
    line-height: 128px;
}

h2 {
    font-size: 70px;
    line-height: 90px;
}

h3 {
    font-size: 56px;
    line-height: 74px;
}

h4 {
    font-size: 45px;
    line-height: 58px;
}

h5 {
    font-size: 33px;
    line-height: 44px;
}

h6 {
    font-size: 22px;
    line-height: 28px;
}

p {
    color: #FFF;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.8px;
}


/*--------------------------------------------------
    Buttons
---------------------------------------------------*/
/* Here you can edit the primary button */
button.primary {
    background-color: #FFF;
    color: var(--primary);
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.8px;
    padding: 8px 20px;
    margin-top: 35px;
    border: 3px solid var(--primary);
    border-radius: 25px;
    cursor: pointer;
    height: 50px;
    width: 150px;
}

/* This causes the button to change when you hover over it */
button.primary:hover {
    background-color: var(--primary);
    color: #FFF;
}

/* Here you can edit the secondary button */
button.secondary {
    background-color: #FFF;
    color: #000;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.8px;
    padding: 8px 20px;
    margin-top: 35px;
    border: 3px solid var(--secondary);
    border-radius: 15px;
    cursor: pointer;
    height: 50px;
    width: 150px;
}

/* This causes the button to change when you hover over it */
button.secondary:hover {
    background-color: var(--secondary);
}

/* This causes the link to change when you hover over it */
a:hover {
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
}