/*-----------------------------------------------------------------------------
    In this CSS file you will find the style for the SpaceX werk page.
-----------------------------------------------------------------------------*/


/*--------------------------------------------------
    The .prototype article
---------------------------------------------------*/
.challengeButtons {
    margin-left: 15px;
    margin-right: 15px;
}

.challengeButtons a {
    text-decoration: none;
}

button.primary.SXbnt1, button.primary.SXbnt2, button.primary.SXbnt3 {
    width: 130px;
}

button.primary.SXbnt1 {
    margin-right: 10px;
}


/*--------------------------------------------------
    The breakpoints
---------------------------------------------------*/

@media (min-width: 438px) {
    /* The .prototype article */
    button.primary.SXbnt2 {
        margin-right: 10px;
    }
}

/* Intermediate version of mobile and tablet (450px) */
@media (min-width: 450px) {
    /* The .prototype article */
    .challengeButtons {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Tablet version (768px) */
@media (min-width: 768px) {
    /* The .prototype article */
    button.primary.SXbnt1, button.primary.SXbnt2, button.primary.SXbnt3 {
        width: 165px;
    }

    button.primary.SXbnt1, button.primary.SXbnt2 {
        margin-right: 20px;
    }
}

/* Larger laptop version (1280px) */
@media (min-width: 1280PX) {
    /* The .prototype article */
    button.primary.SXbnt1, button.primary.SXbnt2 {
        margin-right: 30px;
    }
}